*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.merlin
*.cmxa

crowbar_output/*
persistent_output/*
queue_all/
queue_cmin/
queue_ptmin/
debug.txt
comparison.txt

# ocamlbuild working directory
_build/

# ocamlbuild targets
*.byte
*.native
*\#*

*~

